{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>My Collection</h1>

<table class="table">

  <tr>
    <th style="color: grey;">Cover</th>
    <th style="color: grey;">Title</th>
    <th style="color: grey;">Artist</th>
    <th style="color: grey;">Status</th>
    <th style="color: grey;">Rating</th>
    <th style="color: grey;">Condition</th>
  </tr>

  {% for item in items %}
    <tr>

      <td>
        <a href="{% url 'vinyl:album-detail' item.album.id %}">
          <img src="{{ item.album.cover_url }}"
               style="width:50px; height:50px; object-fit:cover;">
        </a>
      </td>

      <td style="color:white;">
        <a href="{% url 'vinyl:album-detail' item.album.id %}"
           style="color:white; text-decoration:none;">
          {{ item.album.title }}
        </a>
      </td>

      <td style="color:white;">
        <a href="{% url 'vinyl:artist-detail' item.album.artist.id %}"
           style="color:white; text-decoration:none;">
          {{ item.album.artist }}
        </a>
      </td>

      <td style="color:white;">
        <a href="{% url 'vinyl:collection-update' item.id %}"
           style="color:white; text-decoration:none;">
          {{ item.get_status_display }}
        </a>
      </td>

      <td style="color:white;">
        <a href="{% url 'vinyl:collection-update' item.id %}"
           style="color:white; text-decoration:none;">

          {% for i in "12345678910" %}
            {% if forloop.counter <= item.rating|default:0 %}
              ★
            {% else %}
              ☆
            {% endif %}
          {% endfor %}

        </a>
      </td>

      <td style="color:white;">
        <a href="{% url 'vinyl:collection-update' item.id %}"
           style="color:white; text-decoration:none;">
          {{ item.get_condition_display }}
        </a>
      </td>

    </tr>

  {% empty %}
    <tr>
      <td colspan="6" style="color: grey;">
        Your collection is empty.
      </td>
    </tr>
  {% endfor %}

</table>

{% endblock %}